/* Hiệu ứng lắc nút */
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }
  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }
  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.button:hover { 
  animation: shake 0.8s; 
}

/* Hiệu ứng hình trái tim */
.heart {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 16px;
}

.heart:before, .heart:after {
  content: ""; 
  position: absolute;
  width: 8px;
  height: 16px;
  background-color: #f00; 
  border-radius: 8px 8px 0 0;
}
.heart:before {
 left: 0; 
 transform: rotate(-45deg);  
}
.heart:after {
  right: 0;
  transform: rotate(45deg); 
}
